* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    font-family: 'Time New Roman';
      font-size: 2.2em;
      color: #1a1052;
      text-align: center;
      margin-top: 10px;
      
}


body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9c9fc2;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 220px;
    border-radius: 100px; 
    width: 800px;
    height: 400px;
    background-color: #ffffff;
    
}

.imagen {
    border: 5px solid white; 
    padding: 10px; 
    border-radius: 10px; 
    
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

